<?xml version="1.0"?>
<model>
  <name>Intel Aero</name>
  <version>1.0</version>
  <sdf version="1.5">aerofc.sdf</sdf>

  <author>
   <name>Matthew Vernacchia and Michael Kapteyn</name>
   <email>mvernacc@mit.edu</email>
  </author>

  <description>
    This is a model of the Intel Aero Ready-to-Fly Drone.
    The appearance is copied from the Solo model.
  </description>
</model>
